<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Welcome to Mike's Skateboard Shop</title>
</head>
<body>

<div class="container">
    <h1>Mike's Skateboard Shop</h1>
    <hr>
    <h2 style="text-align: center;">About Us!</h2>
    <p style="text-align: center">
        Welcome to Mike's Skateboard shop! We are a family owned and operated since 2012.
        We provide you, the customer, only the highest quality boards, trucks, wheels, bearings, and bolts.
        We provide skate camps in the summer for kids K-12 and snowboard camps in the winter for kids K-12
        as well.
        <br>Allow us to fulfill your needs.
    </p>
    <hr>
    <p style="text-align: center;">
        <img src="/images/skateboard.jpeg" alt="Image of skateboard" style="width: 20%; height: auto; margin: 0 auto;">
    </p>

</div>
</body>
<div class="container">
    <hr>
    <footer style="text-align: center;">
        <a th:href="@{/mainscreen}">Main Screen</a>
    </footer>
</div>
</html>
