<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>About Us:</title>
</head>
<body>
    <h1>
        Welcome to our Skate Shop
    </h1>
    <p>We here at Mike's skateboard shop strive to provide you, the customer
    with the highest quality parts and skateboards that money can buy. We are
    a family owned business since 2012.</p>
</body>
</html>